@import url('https://fonts.googleapis.com/css?family=Chicle');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');


body {
  background: url("images/city-40.png") ghostwhite;
  background-size: 100%;
  background-attachment: fixed;
  margin: 10px;
  /*font-size: large;*/
}


#enterinfo {
  padding: 5%;
}


#welcome {
  font-family: 'Merienda', cursive;
  /*padding-bottom: 25px;*/
}


h2 {
  /*font-family: 'Merienda', cursive;*/
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
}


h4 {
  /*font-family: 'Chicle', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Yatra One', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Amaranth', sans-serif;
  font-family: 'Unica One', cursive;
  font-family: 'Merienda', cursive;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-family: 'Julius Sans One', sans-serif;*/
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  /*margin: 0px;
  padding: 0px;*/
}


#map {
  height: 500px;
}


#signin {
  height: 150px;
}


#signin-buttons {
  padding-top: 25px;
  /*padding-left: 200px;
  text-align: center;*/
}


#add-remove-buttons {
  padding-top: 25px;
  /*padding-left: 850px;
  text-align: center;*/

}

#depart, #arrive, #map, #weatherZone, #weatherZoneWeek, #enterinfo, #signin, #card-div {
  border-radius: 5px;
}


#depart, #arrive, #map, #weatherZone, #weatherZoneWeek {
  font-size: large;
}


#weatherDiv {
  text-align: center;
  /* width: 128px; */
  /*padding: 5px;*/
  padding: 1px;
  margin-left: 20px;
  margin-right: 20px;
}


#card-div {
  padding-left: 10%;
}


/*#editButtonDiv {
  padding: 0px;
}*/


.card-panel {
  margin: 2px;
  padding: 15px;
}


input[type=text] {
  color: white;
}
